html {
    background: #018DED url(cover-image.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 5px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /*  rotate from the most end of the hand(hour, min, sec) i.e. at centre  */
    transform: rotate(90deg);
    /*  set hands to 12:00  */
    transition: all 0.5s;
    /*  tick-tick effect  */
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    /*  tick-tick  */
}

.second-hand {
    height: 2px;
    margin-left: 5%;
    width: 45%;
}

.min-hand {
    margin-left: 5%;
    width: 45%;
}

.hour-hand {
    height: 6px;
    margin-left: 25%;
    width: 25%;
}